@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("./Poppins-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url("./Poppins-Bold.ttf") format("opentype");
}
