@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/700.css';

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--text-color);
    height: 3rem;
}

.navigation-link {
    text-decoration: none;
    color: whitesmoke !important;
}

.navigation-link:link,
.navigation-link:visited,
.navigation-link:hover,
.navigation-link:active {
    color: var(--text-color);
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: whitesmoke;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}