:root {
    --text-color: #263238;
    --product-background: #FFB300;
    --product-border: #FF8F00;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

input[type=number] {
    appearance: textfield;
}
