<mat-list class="product-info">
	<mat-list-item>
		<span matListItemTitle class="list-title" i18n>Name</span>
		<span matListItemLine class="list-line">{{product?.name ?? loadingMessage}}</span>
	</mat-list-item>
	<mat-list-item>
		<span matListItemTitle class="list-title">Description</span>
		<span matListItemLine class="list-line">{{product?.description ?? loadingMessage}}</span>
	<mat-list-item lines="3">
		<span>{{product?.description ?? loadingMessage}}</span>
	</mat-list-item>
	<mat-list-item>
		<span matListItemTitle class="list-title">Price</span>
		<span matListItemLine class="list-line">{{renderPrice()}}</span>
	</mat-list-item>
	<mat-list-item>
		<span matListItemTitle class="list-title">Quantity in Stock</span>
		<span matListItemLine class="list-line">{{product?.quantity ?? loadingMessage}}</span>
	</mat-list-item>
</mat-list>
