<mat-list class="product-info">
	<mat-list-item>
		<span matListItemTitle class="list-title" i18n>Name</span>
	</mat-list-item>
	<span class="list-description">{{product?.name ?? loadingMessage}}</span>
	<mat-list-item>
		<span matListItemTitle class="list-title" i18n>Description</span>
	</mat-list-item>
	<span class="list-description">{{product?.description ?? loadingMessage}}</span>
	<mat-list-item>
		<span matListItemTitle class="list-title" i18n>Price</span>
	</mat-list-item>
	<span class="list-description">{{renderPrice()}}</span>
	<mat-list-item>
		<span matListItemTitle class="list-title" i18n>Quantity in Stock</span>
	</mat-list-item>
	<span class="list-description">{{product?.quantity ?? loadingMessage}}</span>
</mat-list>
