.product-list {
	gap: 1rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 1rem;

	.product-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(15% - 1rem);
		padding: 1rem;

		.title {
			width: 100%;
			font-size: 1.25rem;
			font-weight: bold;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: center;
		}

		.button-view-product {
			font-weight: bold;
			padding: 0;
		}
	}
}

.sort-filter-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem;
}
