.quantity-picker {
	display: flex;
	align-items: center;
	margin: 1rem;

	.center {
		display: block;
		padding: 0;
	}

	.quantity-input-container {
		width: 4rem;
	}

	.quantity-input {
		text-align: center;
		appearance: textfield;
	}
}
