@use "@angular/material" as mat;

@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/700.css';
@import 'material-icons/iconfont/material-icons.css';

$custom-typography: mat.define-typography-config(
	$font-family: 'Poppins, sans-serif'
);
@include mat.all-component-typographies($custom-typography);

* {
	box-sizing: border-box;
	margin: 0;
}
