<div class="product">
    <table class="property-table">
        <tr>
            <th class="product-header">Name</th>
            <td>{{product?.name}}</td>
        </tr>
        <tr>
            <th class="product-header">Description</th>
            <td>{{product?.description}}</td>
        </tr>
        <tr>
            <th class="product-header">Price</th>
            <td>{{product?.price}} €</td>
        </tr>
        <tr>
            <th class="product-header">Quantity in Stock</th>
            <td>{{product?.quantity}}</td>
        </tr>
    </table>
    <div class="order-buttons">
        <div class="quantity-adjust">
            <button class="quantity-minus accent-colors" (click)="decrementQuantity()">-</button>
            <input class="quantity-input" type="number" [(ngModel)]="quantity" disabled>
            <button class="quantity-plus accent-colors" (click)="incrementQuantity()">+</button>
        </div>
        <button class="button-order accent-colors" (click)="submitOrder()" [disabled]="isLoading">Order</button>
    </div>
</div>
